.homeBg {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}

.homePage {
  display: grid;
  text-align: left;
  max-width: 700px;
  padding: 150px;
  align-items: center;
}

.homePage h1 {
  font-size: 35px;
  font-weight: 800;
}

.homePage h3 {
  width: 500px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  font-weight: 600px;
  font-size: 20px;
}

.homePage span {
color: #0d6efd;
}

.container img {
  object-fit: cover;
  object-position: center;
  height: 100%;
}
